[defaults]
inventory = inventory/hosts.yml
roles_path = roles
retry_files_enabled = false
host_key_checking = false
stdout_callback = default
result_format = yaml
callbacks_enabled = timer, profile_tasks

# SSH
timeout = 30
remote_user = aleks
private_key_file = ~/.ssh/id_rsa

# Performance
forks = 10
pipelining = true
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 3600

[privilege_escalation]
become = true
become_method = sudo
become_user = root

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
